---
title: {{ title }}
author: Carmen Bianca Bakker
date: {{ date }}
rights: © 2020 Carmen Bianca Bakker
lang: en

{% if latex %}
documentclass: book
classoption:
  - openany
  - oneside
  {% if not onecolumn %}
  - twocolumn
  {% endif %}
  - nomarginpar
header-includes:
  \usepackage[a4paper, includeheadfoot, top=15mm, bottom=20mm, left=18mm, right=18mm]{geometry}
  \setlength{\columnsep}{5mm}
  \global\hyphenpenalty=2500
pagestyle: plain
{% endif %}

toc: true
numbersections: false

mainfont: DejaVu Serif
fontsize: 10pt
---
